# Core data & ML
numpy
pandas
scikit-learn
joblib

# Visualization (notebooks)
matplotlib
seaborn

# API
fastapi
uvicorn[standard]
pydantic

# Streamlit UI
streamlit
requests

# Testing
pytest

# Utilities
python-dotenv

# machine learning flow 
mlflow
fastapi
uvicorn
pydantic
black   # optional for code formatting
flake8  # for linting
